/* Write your CSS here */
div {
  background-color: #f1f5f8;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}
h1 {
  color: #2d3a35;
}
span {
  color: #c20a72;
}
button {
  padding: 8px;
  background-color: #007bff;
  color: #ffffff;
  border-width: 0px;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  button {
    font-size: 14px;
    padding: 10px;
  }
}
